button {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.player-list {

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .remove-btn {
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
        width: fit-content;
        background-color: $error;
        color: $white;
        margin: 0;
        border-radius: 5px;
        line-height: 1.2;
        
        &:hover {
            background-color: $white;
            color: $error;
        }
    }

    button {
        border: none;
        font-size: 48px;
        display: block;
        margin: 20px auto 0;
        width: 70px;
        background-color: $color-002;
        border-radius: 10px;
    }
}

.btn-submit {
    &:active {
        box-shadow: inset 2px 2px 0 2px $black;
        // box-shadow: rgb(0, 0, 0) -5px -5px 2px 0px inset;
    }
}