.addplayer {
    margin-top: 20px;
    label {
        font-size: 18px;
        color: $color-002;
        margin-bottom: 10px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    input[type="text"] {
        font-size: 18px;
        padding: 10px;
        border: none;
        background-color: $color-001;
        font-weight: 600;
        border-radius: 10px;

        &:focus-visible, &:focus-within, &:active {
            stroke: none;
            border: none;
            outline: none;
        }
    }

    input[type="submit"] {
        display: block;
        margin: 20px auto 0;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 16px;
        background-color: $color-002;
        border-radius: 10px;
        border: none;
        font-weight: 600;
    }
}