// COLORS
$color-001: #9d4edd;
$color-002: #ff9e00;
$color-003: #240046;
$color-004: #F8B8C1;
$black: #000;
$white: #fff;
$error: #d1001f;
$geography: #4ACAD4;
$music: #F957D0;
$ffxiv: #F6B26B;
$wtf: #B4A7D6;